<div class="edit you Restaurants">

<%= form_for @restaurant do |f| %>
  <%= f.label :name, "What is the name of your restaurant" %>
  <%= f.text_field :name %>
  <%= f.label :category, "What type of food is it?" %>
  <%= f.text_field :category %>
  <%= f.label :address%>
  <%= f.text_field :address %>
<% end %>
</div>

<div class="button-group">
<p type="button" class="btn"> <%= link_to "back to all restaurants", restaurants_path %> </p>
</div>
