
<h1> <%=  @restaurant[:name] %> </h1>

<p>
Its Cusisine is: <%= @restaurant[:category] %>
</p>

<p>
Its address is: <%= @restaurant[:address] %>
</p>

<h1> Reviews </h1>
  <% @restaurant.reviews.each do |review| %>
  <div class="card">
  <p> <%= review.content%> </p>
  <p> The restaurants rating is: <%= review.rating %> </p>
  </div>
  <% end %>
</ul>

<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary btn-sm" %>
<br>
<%= link_to "Go back to all restaurants", restaurants_path, class: "btn btn-primary btn-sm" %>
