<h1 class="text-center"> Post review for <%= @restaurant.name %> </h1>

<div class="container">
  <div clas="row">
    <div class="col-xs-12 col-sm-offset-3">

      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content, placeholder: "great place" %>
        <%= f.input :rating %>
        <%= f.submit  "post review", class: "btn btn-primary" %>

      <% end %>



    </div>
  </div>
</div>
